@import "../variables";

.wrapper-traffic-light {
  margin: 40px auto 0 auto;

  .traffic-light-component {
    height: 161px;
    width: 80px;
    border-radius: 10px;
    padding-top: 15px;
    margin: auto;

    &.traffic-light-bg {
      background-color: $background;
    }
    .light {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      border: 2px solid $white;
      opacity: 0.1;
      margin: 0 auto 10px auto;
      transition: 0.5s opacity;

      &.red-light {
        background-color: $redLight;
      }
      &.yellow-light {
        background-color: $yellowLight;
      }
      &.green-light {
        background-color: $greenLight;
      }
      &.active {
        opacity: 1.0;
      }
    }
  }
}