@import "../variables";

.wrapper-traffic-log {
  margin: 0 auto 40px auto;

  .logger {
    background-color: $mediumGrey;
    margin: 20px 0;
    padding: 8px;
    height: 500px;
    max-height: 500px;
    overflow: scroll;

    .table-logger {
      td {
        padding: 5px 0;
        font-size: $font-size;

        &.time {
          color: $orange;
        }
      }
    }
  }
}