// imports
@import "reset";
@import "variables";
@import "mixins";
@import "fonts";

html {
  background-color: $lightGrey;
  font-family: $bodyFont;
  font-weight: 300;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $bodyFont;
  color: $black;
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 20px;
  background-color: $white;

  h1 {
    text-align: center;
  }
}

.row {
  display: block;
  clear: both;
  padding: 12px 0;
}

.btn {
  @include btn;

  &.btn-primary {
    color: $white;
    background-color: $blue;

    &:hover {
      opacity: 0.75;
    }
  }
}