// colors
$black: #212121;
$blue: #4A90E2;
$lightGrey: #e2e1e0;
$mediumGrey: #EEEEEE;
$orange: #F38900;
$white: #FFFFFF;

// traffic Light Colors
$background: #333333;
$redLight: #D50101;
$yellowLight: #F2E31F;
$greenLight: #6FCE00;

// fonts
$bodyFont: 'Ubuntu', sans-serif;

// specs
$font-size: 12px;